
<div class="content">
    <div class="card" style="width: 20rem; " >
      
      <img src="/assets/14(main).jpg" class="card-img-top" alt="..."   >
      <div class="card-body">
        <h5 class="card-title">iPhone 14  (Yellow, 256 GB)</h5><br>
        <p class="card-text" style="font-weight: 700;">₹69,900</p>
        <a  class="btn btn-primary "   routerLink="/fourteen">Details</a>
        <p id="demo"></p>
      </div>
    </div>
    <div class="card" style="width: 20rem;" >
      <img src="/assets/14plus.png" class="" alt="..."  ><br>
      <div class="">
        <h5 class=""> iPhone 14 plus (Purple,128 GB)</h5><br>
        <p class="card-text"style="font-weight: 700;">₹55,999</p>
        <a routerLink="/fourteenplus" class="btn btn-primary">Details</a><br>
      </div>
    </div>   
    <div class="card" style="width: 20rem;" >
      <img src="/assets/15(main).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> iPhone 15 (Black,512GB)</h5>
        <p class="card-text"style="font-weight: 700;">₹1,05,900</p>
        <a routerLink="/fifteenblack" class="btn btn-primary">Details</a>
      </div>
    </div><br><br>
    </div>
    
      <!-- second -->
    <div class="second">
    <div class="card" style="width: 20rem;">
      <img src="/assets/12(main).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">iphone12 (Red,64GB)</h5><br>
        <p class="card-text"style="font-weight: 700;">₹57,700</p><br>
        <a routerLink="/twelve red" class="btn btn-primary">Details</a>
      </div>
    </div>     
    <div class="card" style="width: 20rem;">
      <img src="/assets/vivo(v27).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vivo V27 Noble Black 8GB 128GB</h5>
        <p class="card-text"style="font-weight: 700;">₹32,999</p>
        <a routerLink="/vivov" class="btn btn-primary">Details</a>
      </div>
    </div>    
    <div class="card" style="width: 20rem;">
      <img src="/assets/oneplus(10pro).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">OnePlus 10 Pro Volcanic Black 12GB 256GB</h5>
        <p class="card-text"style="font-weight: 700;">₹71,999</p>
        <a routerLink="/ten" class="btn btn-primary">Details</a>
      </div>
    </div>   
    </div>
    
    <!-- third -->
    <div class="third">
      <div class="card" style="width: 20rem;">
        <img src="/assets/oneplus(11).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">OnePlus 11 Eternal Green 16GB 256GB</h5>
          <p class="card-text"style="font-weight: 700;">₹61,999</p>
          <a routerLink="/eleven" class="btn btn-primary">Details</a>
        </div>
      </div> 
      <div class="card" style="width: 20rem;">
        <img src="/assets/oneplus(11pro).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Realme 11 Pro 5G Sunrise 8GB 256GB</h5>
          <p class="card-text"style="font-weight: 700;">₹24,999</p>
          <a routerLink="/realme" class="btn btn-primary">Details</a>
        </div>
      </div>   
      <div class="card" style="width: 20rem;">
        <img src="/assets/redmi(note12).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Redmi Note 12 5G Matte Black 6GB 128GB</h5>
          <p class="card-text"style="font-weight: 700;">₹16,999</p>
          <a routerLink="/redmi" class="btn btn-primary">Details</a>
        </div>
      </div>     
    </div>
    
    <router-outlet></router-outlet>
